ul {
    list-style: "\262f";
    align-items: center;
  }

.SectionHeaderDiv{
    background-image: url('../../../public/images/img-9.jpg');
    color: aliceblue;
    height: max-content;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    border: 15px;
    border-style: groove;
}
sectionDiv > ul{
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;

    .h2div{
        text-align: center;
        justify-content: center;
    }
}
